{% extends "template.html" %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">Title</th>
        <th scope="col">Category</th>
        <th scope="col">Console</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.title }}</td>
                <td>{{ game.category }}</td>
                <td>{{ game.console }}</td>
                <td><a class="btn btn-primary" href="{{ url_for('editGame', id=game.id)  }}">Edit</a>&nbsp;<a class="btn btn-primary" href="{{ url_for('deleteGame', id=game.id)  }}">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{%endblock%}
